body {
    font-family: 'Arial', sans-serif;
    background-color: #d4cfe5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

